.abstract {height:100px;
 background-image: url("../images/abstract.png");
}
.blue {height:100px;
 background-image: url("../images/blue.png");
}
.green {height:100px;
 background-image: url("../images/green.png");
}